:root {
    --font-body: "Outift", Helvetica, sans-serif;
    --font-headline: "Space Grotesk", sans-serif;
}

/* GREEN */
body[data-favorite="MEX"],
body[data-favorite="RSA"],
body[data-favorite="BRA"],
body[data-favorite="KSA"],
body[data-favorite="SEN"],
body[data-favorite="ALG"],
body[data-favorite="CIV"] {
    --primary-color: #0f99445d;
}

/* DARK BLUE */
body[data-favorite="BIH"],
body[data-favorite="HTI"],
body[data-favorite="AUS"],
body[data-favorite="CUW"],
body[data-favorite="SWE"],
body[data-favorite="NZL"],
body[data-favorite="ENG"],
body[data-favorite="PAN"],
body[data-favorite="CPV"] {
    --primary-color: #0b1f3a7a;
}

/* LIGHT BLUE */
body[data-favorite="COD"],
body[data-favorite="ARG"],
body[data-favorite="URU"],
body[data-favorite="PAR"],
body[data-favorite="UZB"] {
    --primary-color: #74abdf7b;
}

/* RED */
body[data-favorite="GHA"],
body[data-favorite="CRO"],
body[data-favorite="AUT"],
body[data-favorite="JOR"],
body[data-favorite="NOR"],
body[data-favorite="IRQ"],
body[data-favorite="FRA"],
body[data-favorite="TUN"],
body[data-favorite="IRN"],
body[data-favorite="EGY"],
body[data-favorite="NED"],
body[data-favorite="TUR"],
body[data-favorite="SUI"],
body[data-favorite="MAR"],
body[data-favorite="USA"],
body[data-favorite="CZE"],
body[data-favorite="CAN"],
body[data-favorite="POR"],
body[data-favorite="JPN"],
body[data-favorite="KOR"],
body[data-favorite="SCO"]{
    --primary-color: #c8102f25;
}

/* YELLOW */
body[data-favorite="ECU"],
body[data-favorite="GER"],
body[data-favorite="BEL"],
body[data-favorite="ESP"],
body[data-favorite="COL"] {
    --primary-color: #f4c30031;
}

body[data-favorite="QAT"] {
    --primary-color: #8a153842;
}

* {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* backgorund image  */
body {
    background-image: url(../public/images/background-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* navigation for small view*/
#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    position: absolute;
    top: 3rem;
    right: 1rem;
    color: rgb(0, 0, 0);
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

#menu:hover {
    color: var(--secondary-color);
}

.navigation li {
    padding: 10px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    text-align: right;
}

.navigation a:hover {
    background-color: rgba(216, 162, 162, 0.897);
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}


.main-content, 
#main-footer,
#main-header{
    background-color: rgba(247, 232, 216, 0.887);
    margin: 0 auto;
    max-width: 900px;
    padding: 40px;
}

/* header content */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-radius: 60px;
}

.hexa{
    margin-top: 10px;
    text-decoration: none;
    font-size: 3rem;
    color: black;
    font-family: var(--font-headline);
    font-weight: 600;
}


/* display matches cards */
#matches{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.match-card{
    background-color: #f0d8c7;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.match-card p {
    padding-top: 10px;
    font-size: large;
}

.teams{
    display: flex;
    justify-content: center;
}

/* modal for displaying the favorites countries */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}


.hidden {
    display: none;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 20px;
}

.favorite-btn {
    padding: 1rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 30px;
}

.favorite {
    border: 3px solid gold;
    box-shadow: 0 0 12px gold;
}

/* cards and flags on favorites */

#search {
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #334761;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.503);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    max-width: 300px;
}

#search::placeholder {
    font-style: italic;
}

#search:hover {
    border-color: #cbd5e0;
}

#countries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.card{
    text-align: center;
    padding: 20px;
}


/* footer content */
footer{
    text-align: center;
}


/* media display for large screens */
@media screen and (min-width: 800px) {

body {
        background-image: url(../public/images/background-large.png);
    }

.navigation {
        flex-direction: row;
        gap: 20px;
    }

.navigation a:hover {
    background-color: rgba(216, 162, 162, 0.401);
}

.navigation a {
    font-size: 2rem;
    border-left: solid black 1px;
    display: block;
}

#menu
{
    display: none;
}

/* display matches cards */
#matches {
    grid-template-columns: 1fr 1fr;
}

#countries {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

}