:root {
    --font-body: "Outift", Helvetica, sans-serif;
    --font-headline: "Space Grotesk", sans-serif;
    --font-title: "Rock Salt", sans-serif;
}

* {
    font-family: var(--font-body);
    box-sizing: border-box;
    padding: 0;
}

.trophyIcon{
    width: 150px;
    height: auto;
    padding: 0;
    margin: 0;
    position: absolute;
}

.hexa {
    text-decoration: none;
    font-size: 4rem;
    color: black;
    font-family: var(--font-title);
    position: relative;
    left: 100px;
}

/* backgorund image  */
body {
    background-image: url(../public/images/background-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* navigation for small view*/
#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    position: absolute;
    top: 3rem;
    right: 1rem;
    color: rgb(0, 0, 0);
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

#menu:hover {
    color: var(--secondary-color);
}

.navigation li {
    padding: 10px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.navigation a {
    display: none;
    padding-left: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    text-align: right;
    font-weight: 600;
}

.navigation a:hover {
    /* background-color: var(--primary-color); */
    border-radius: 40px;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}


.main-content, 
#main-footer,
#main-header{
    background-color: rgba(247, 232, 216, 0.887);
    margin: 0 auto;
    max-width: 900px;
    padding: 40px;
}

/* header content */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 60px;
}

/* display matches cards */
#matches{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.match-card{
    background-color: #f0d8c7;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
}

.match-card p {
    font-size: large;
}

.teams{
    display: flex;
    justify-content: center;
}

.vs {
    font-weight: bold;
}

#todayMatches{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

/* modal for displaying the favorites countries */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #f5ece6;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#favorite-team {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f2d2d39;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.503);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#favorite-team img{
    padding: 10px;
}


.hidden {
    display: none;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 20px;
}

.favorite {
    border: 3px solid gold;
    box-shadow: 0 0 12px gold;
}

/* cards and flags on favorites */

#search {
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #334761;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.503);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    max-width: 300px;
}

#search::placeholder {
    font-style: italic;
}

#search:hover {
    border-color: #cbd5e0;
}

#countries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.card{
    text-align: center;
    padding: 20px;
}

/* tables with groups */

.group {
    margin-bottom: 30px;
    background-color: #202d7246;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #f0d8c7;
    padding: 8px;
}

th {
    background: #eee;
}

td img {
    vertical-align: middle;
    margin-right: 8px;
}


/* footer content */
footer{
    text-align: center;
}

/* media display for large screens */
@media screen and (min-width: 800px) {

body {
        background-image: url(../public/images/background-large.png);
    }

.navigation {
        flex-direction: row;
        gap: 20px;
    }


.navigation a {
    font-size: 2rem;
    border-left: solid black 2px;
    display: block;
}

#menu
{
    display: none;
}

/* display matches cards */
#matches {
    grid-template-columns: 1fr 1fr;
}

#countries {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.modal-content {
    width: 600px;
}

}