:root {
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /* colors */
    --primary-color: #f0a868;
    --secondary-color: #525b0f;
    --tertiary-color: #8a470c;
    --light-grey: #d0d0d0;
    --dark-grey: #303030;

    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* backgorund image  */

body {
    background-image: url(/src/public/images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
}

.main-content, 
#main-footer,
#main-header{
    background-color: rgb(252, 245, 234);
    margin: 0 auto;
    max-width: 900px;
    padding: 40px;
}

/* header content */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header a{
    padding: 30px;
    text-decoration: none;
    color:black;
    font-size: 2rem;
    border-left: solid black 1px;
}

/* footer content */
footer{
    text-align: center;
}