<div class="header">
    <img class="trophyIcon" src="https://www.thesportsdb.com/images/media/honour/trophy/n0mwq71650790783.png" alt="trophy">
    <a class="hexa" href="./index.html">Hexa</a>
    <button type="button" id="menu" aria-label="Open menu"></button>
    <nav>
        <ul class="navigation">
            <li><a href="./teams.html">Teams</a></li>
            <li><a href="./matches.html">Matches</a></li>
            <li><a href="./favorites.html">☆</a></li>
        </ul>
    </nav>
</div>